name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  nix-check:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Check Nix flake
        run: nix flake check ./nix --no-build
